# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
backend/venv/
backend/.env
backend/*.db
*.egg-info/
dist/
build/

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
